.main {
  margin-top: 0;
  background: #fff;
  min-height: 100%;
}
.main__container {
  display: flex;
}

.main-content {
  position: relative;
  width: 82%;
  display: flex;
  flex-direction: column;
  color: #221f1f;
}