.social {
  width: 180px;
  position: absolute;
  top: 13px;
  right: 0;
}

.social__cta {
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  margin-bottom: 9px;
  padding: 0;
}

.social__list {
  list-style: none;
  padding: 0px;
  margin: 0;
}

.social__item {
  position: relative;
  display: inline-block;
  margin-right: 10px;
  padding: 0px;
  background-color: white;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.social__item:nth-child(5) {
  margin-right: 0px;
}


.social__item:hover {
  background: #ec1e79;
  
}

.social__link {
  position: absolute;
  font-size: 0px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.social__link:before {    
  vertical-align: middle;
}

.social__link--vk:before {
  content: url(../../images/vk.png); 
}
.social__link--fb:before {
  content: url(../../images/fb.png); 
}
.social__link--google:before {
  content: url(../../images/google.png); 
}
.social__link--tweet:before {
  content: url(../../images/twitter.png); 
}
.social__link--mail:before {
  content: url(../../images/mail.png); 
}